<% layout('layouts/boilerplate')%>
<div class="h-100 bg-light rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-2">
        <h6 class="mb-0">Messages</h6>
        <a href="">Show All</a>
    </div>
    <!-- reciever-->
    <% chat.msg.forEach(function(msgs,i){ %>
        <% if (msgs.msg_sender === user.email) { %>
            <div class="d-flex flex-row-reverse align-items-center mb-border-bottom py-3" style="background-color: #FFB6C1;">
                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="w-100 ms-3 ">
                    <div class="d-flex w-100 justify-content-between flex-row-reverse">
                        <h6 class="mb-0"><%= msgs.msg_sender %> </h6>
                    </div>
                    <span><%= msgs.conv %> </span>
                </div>
            </div>
            <hr>
            <% }else{ %>
                <div class="d-flex align-items-center mb-border-bottom py-3" style="background-color: #AFEEEE;">
                    <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <div class="w-100 ms-3 ">
                        <div class="d-flex w-100 justify-content-between flex-row-reverse">
                            <h6 class="mb-0"><%= msgs.msg_sender %> </h6>
                        </div>
                        <span><%= msgs.conv %> </span>
                    </div>
                </div>
                <hr>
            <% } %> 
    <% }) %>
    <!--sender-->
    

    <footer class="d-flex footer direct-chat direct-chat-primary">
        <div class="input-group">
            <% if (user.email !== item.owner_email) { %>
                <form class="input-group" action="/buyerSendMsg" method="POST">
                    <input type="text" name="item_name" value="<%= item.item_name %>" hidden />
                    <input type="text" name="owner_email" value="<%= item.owner_email %>" hidden />
                    <input type="text" name="buyer_email" value="<%= user.email %>" hidden />
                    <input type="text" name="msg" placeholder="Type Message ..." class="form-control">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-flat">Send</button>
                    </span>
                </form>
                <% }else{ %> 
                    <form class="input-group" action="/ownerSendMsg" method="POST">
                        <input type="text" name="item_name" value="<%= item.item_name %>" hidden />
                        <input type="text" name="owner_email" value="<%= item.owner_email %>" hidden />
                        <input type="text" name="buyer_email" value="<%= item.buyer_email %>" hidden />
                        <input type="text" name="msg" placeholder="Type Message ..." class="form-control">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary btn-flat">Send</button>
                        </span>
                    </form>
                <% } %> 
        </div>
    </footer>